.addCartButton{
    background-color: $color1;
    position: absolute;
    right: 20px;
    bottom: 25px;
    border-radius: 15px;
    padding: 5px;
}

.ok_message{
    position: absolute;
    right: 40px;
    bottom: 65px;
}