.cart_link{
    background-color: lightgray;

    border-radius: 50%;

    padding: 15px;
   
   position: fixed;
   z-index:2;
   top: 75px;
   right: 45px;
}

.cart_link:hover{
        background-color: white;
    
    }

.cart__navlink{
    
        text-decoration: none;
        color: $color1;

    
}

@media (max-width:600px) {
 
        .cart_link{
                font-size: 25px;
                img{
                   width: 35px
                }
              right: 20px;
              top: 110px;
            }
    
      }
    