.drink_container{
    margin: 10px;
    width: 400px;
    height: 400px;
    background: white;
    font-size: 20px;
   img{
    width: 360px;
    margin-bottom: 15px;
   
    }
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    margin-bottom: 5px;
}

p{

    margin-bottom: 2px;
}

@media (max-width:600px) {
 
    .drink_container{
       
        width: 381px;
        height: 390px;
      
       img{
        width: 320px;
      }
      
    }
    }
